/*careers page*/
#cNavbar-menu{
    margin-right:100px;
}

#careers{
    background-image: url(/images/fuji.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.cContainer{
    width: 75em;
    display: flex;
    flex-flow: column wrap;
    margin:auto;
    padding:1em 2em 1em 2em;  
    background-color: #353b48;
    color: white;
    border-radius: 15px;
}

.disc{
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 25px;
}

.cContainer p{
    margin-bottom: 10px;
}

#cTitle{
    margin-bottom: 25px;
    align-self: center;
    font-size: 60px;
}

.cContainer a{
    font-size: 30px;
    color: #f1f1f1;
    text-decoration: underline;
    transition: 0.2s linear;
    width: 12em;
}

.cContainer a:hover {
    color: #d03228 !important;
}

#bold{
    color: #d03228;
    font-size: 25px;
}

