.massContainer{
    background-color: #353b48;
    padding: 18em;
}

.header{
    background-color: #353b48;
    text-align: center;
    width: auto;
    height: 112px;
}       

.header span{
    color: #f1f1f1;
    font-size: 20px;
}

.infoContainer{
    margin: 10px;
}

